body {
    background-color: rgb(125, 125, 125);
    color: whitesmoke;
}

h1 {
    text-shadow: 2px 2px 2px black;
}

#main {
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
    margin-top: 100px;
}

#canvas {
    width: 800px;
    height: 600px;
    border: 2px solid black;
    background-color: rgb(120, 150, 189);
    margin-left: 50px;
    background-image: url("../images/screengameplay.png");
}

#start-screen {
    background-image: url("../images/screenstart.png");
    display: flex;
	flex-direction: row;
	justify-content: space-around;
    align-items: flex-end;
    width: 800px;
    height: 600px;
}

#start-button {
    width: 284px;
    height: 144px;
    margin-bottom: 50px;
}
#howto-button {
    width: 284px;
    height: 144px;
    margin-bottom: 50px;
}
#howto-prev1, #howto-prev2, #howto-prev3  {
    width: 212px;
    height: 140px;
    margin-bottom: 40px;
    margin-left: 60px;
}
#howto-next1, #howto-next2 {
    width: 232px;
    height: 140px;
    margin-bottom: 40px;
    margin-right: 60px;
}
#howto-button {
    width: 284px;
    height: 144px;
    margin-bottom: 50px;
}

#replay-button-w, #replay-button-l {
    width: 386px;
    height: 103px;
    margin-bottom: 25px;
}

#woke-bar {
    width: 227px;
    height: 86px;
    margin-bottom: 25px;
}

#proj-bar {
    width: 167px;
    height: 77px;
    margin-bottom: 25px;
}

#how-to-play1 {
    background-image: url("../images/screenhowto1.png");
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: flex-end;
    width: 800px;
    height: 0px;
}

#how-to-play2 {
    background-image: url("../images/screenhowto2.png");
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: flex-end;
    width: 800px;
    height: 0px;
}

#how-to-play3 {
    background-image: url("../images/screenhowto3.png");
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: flex-end;
    width: 800px;
    height: 0px;
}

#win-screen {
    background-image: url("../images/screenwin.png");
    display: flex;
	flex-direction: row;
	justify-content: space-around;
    align-items: flex-end;
    width: 800px;
    height: 0px;
}

#loss-screen {
    background-image: url("../images/screenloss.png");
    display: flex;
	flex-direction: row;
	justify-content: space-around;
    align-items: flex-end;
    width: 800px;
    height: 0px;
}

.hidden {
    display: none;
    width: 0px;
    height: 0px;
}